@model Banking.Core.Models.ProfileInformation

@{
    ViewData["Title"] = "SelectBankAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SelectBankAccount</h1>

<div>
   
        <h4>ProfileInformation</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankAccountNumbers)
            </dt>
            </dl>
            
            @using (Html.BeginForm("BankTransactions", "Banking", FormMethod.Post, new { transaction = Model }))
            {<dl class="row">
                <dd class="col-sm-10">
                    @Html.DropDownListFor(model => model.BankAccountNumbers,
                          new SelectList(Model.BankAccountNumbers, "Select the Account You Wish to View"))

                </dd>
            </dl>
        <div class="form-group">
            <input type="submit" value="View Transactions" class="btn btn-primary" />
        </div>
        }
</div>
   
<div>
  
    <a asp-action="Index">Back to List</a>
</div>
